<div class="transaction-card">
  <h3>
    ID transaction: {{ data.transaction.id }}<br />
    Ammount: {{ data.transaction.amount }} {{data.transaction.currency}}<br />
  </h3>

  <form [formGroup]="form" (ngSubmit)="submit()" >
    <div formArrayName="transactionRows">
      <div class="row" *ngFor="let row of transactionRows.controls; let i = index" [formGroupName]="i">
        <mat-form-field appearance="outline" class="flex">
          <mat-label>Split</mat-label>
          <input matInput type="number" formControlName="value" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let c of categories" [value]="c">{{ c.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    
    <div *ngIf="form.hasError('sumMismatch')" class="error">
    The summ of splits ({{ form.getError('sumMismatch')?.actual }}) must be equal to the ammount {{ form.getError('sumMismatch')?.expected }}.
  </div>

    <div class="button-row">
      <button mat-mini-fab type="button" (click)="addRow()">+</button>
       <button
      mat-icon-button
      type="button"
      class="remove-btn"
      (click)="removeSplit(i)"
      [disabled]="transactionRows.length <= 2"
      aria-label="Obriši ovaj split"
    >
      <mat-icon>remove_circle</mat-icon>
    </button>
      <button mat-raised-button color="primary"
       type="submit"
       class="pill-button apply-button"
       >Submit</button>
       <button
    mat-stroked-button
    class="pill-button cancel-button"
    (click)="onCancel()"
    >
    Cancel
  </button>
    </div>
  </form>
</div>
