<div class="transaction-card">
  <h3>Transaction 1, amount 1000</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div formArrayName="transactionRows">
      <div class="row" *ngFor="let row of transactionRows.controls; let i = index" [formGroupName]="i">
        <mat-form-field appearance="outline" class="flex">
          <mat-label>int value</mat-label>
          <input matInput type="number" formControlName="value" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let c of categories" [value]="c">{{ c }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="button-row">
      <button mat-mini-fab type="button" (click)="addRow()">+</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>
